<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="../images/icon.ico">
	<title>Bootstrap</title>
	<link rel="stylesheet" type="text/css" href="../support/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../support/css.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row"><img src="../images/banner.png"></div>
		<div class="row">
			<nav class="navbar navbar-default">
			    <div class="container-fluid">
			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="../index.html">
			            	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			            </a>
			        </div>
			        <!-- Collect the nav links, forms, and other content for toggling -->
			        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			            <ul class="nav navbar-nav">
			                <li class="active"><a class="btnMenu" href="ThucDon.html">THỰC ĐƠN</a></li>
			                <li><a class="btnMenu" href="Sale.html">SALE - KHUYẾN MÃI</a></li>
			                <li><a class="btnMenu" href="SanPhamHot.html">SẢN PHẨM HOT</a></li>
			                <li><a class="btnMenu" href="#">HỖ TRỢ</a></li>
			            </ul>
			            <form class="navbar-form navbar-right">
			                <div class="form-group">
			                    <input type="text" class="form-control" placeholder="Search">
			                </div>
			                <button type="submit" class="btn btn-default">
			                	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			                </button>
			            </form>
			        </div>
			        <!-- /.navbar-collapse -->
			    </div>
		    <!-- /.container-fluid -->
			</nav>
		</div>
		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-2 text-right"><a href="DangNhap.html">Đăng nhập</a> | <a href="DangKy.html">Đăng ký</a></div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="panel panel-success">
				    <div class="panel-heading">Category</div>
				    <div class="list-group">
				    	<a href="#" class="list-group-item active TheLoai">All (3.398)</a>
				    	<a href="#" class="list-group-item TheLoai">Đồ ăn (1.283)</a>
					    <a href="#" class="list-group-item TheLoai ">Thức uống (283)</a>
					    <a href="#" class="list-group-item TheLoai">Bánh (314)</a>
					    <a href="#" class="list-group-item TheLoai">Trái cây (139)</a>
					    <a href="#" class="list-group-item TheLoai">Rượu bia (39)</a>
					    <a href="#" class="list-group-item TheLoai">Khác (1.032)</a>
					</div>
				</div>
			</div>
			<div class="col-md-10 col-sm-10">
				<div class="row">
					<div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/1_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Cơm Tấm Sườn</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 30.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 26 phút trước</em></div>
					      </div>
					    </div>
					  </div>
					<div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/2_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Bánh Bông Lan Trứng Muối</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 50.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 13:33 22/05/2017</em></div>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/3_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Đen Đá Cafe</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 25.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 11:33 27/05/2017</em></div>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/4_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Gà Nướng Cái Bang</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 90.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 2 phút trước</em></div>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/5_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Nippon Sweet</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 50.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 1 tiếng trước</em></div>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/6_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Bánh Mì Que Pháp</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 10.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 6 tiếng trước</em></div>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/7_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Thế Giới Gà Nướng</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 40.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 22:06 27/05/2017</em></div>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-3">
					    <div class="thumbnail">
					      <img src="../images/SanPham/8_thumbs.jpg" alt="...">
					      <div class="caption">
					        <h4>Pasta To U</h4>
					        <div style="color: #337ab7; font-weight: bold">Giá: 32.000 VNĐ</div>
					        <div>&nbsp;</div>
					        <div class="text-center"><a href="#" class="btn btn-success" role="button">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default" role="button">chi tiết</a></div>
					        <div class="text-right"><em>đăng lúc: 30 phút trước</em></div>
					      </div>
					    </div>
					  </div>
				</div>
				<div class="row">
					<div class="col-md-9"></div>
					<div class="col-md-3">
						<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-10">© Copyright 2016-2017 S6_NhomThieuNguoi | HCMUS - Khoa Công Nghệ Thông Tin</div>
						<div class="col-md-2 text-right"><a href="https://www.facebook.com"><img width="32px" src="../images/facebook.png"></a>&nbsp;&nbsp; <a href="https://twitter.com"><img width="32px" src="../images/twitter.png"></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../support/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../support/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>